div {
  color: white;
  background-image: url("media/back.png");
  width: 321px;
  height: 441px;
  background-size: 321px 441px;
  /* background-size: contain; */
}
div.card:hover {
  background-image: url("media/spade-7.png");
}
