.box {
  /*background-image: url("media/checkpattern.png");*/
  /* margin-right: 10px; */
  /*padding: 30px;*/
}
.imgbox {
  border-image: url("media/checkpattern.png") 30 round;
  border-style: solid;
  border-color: white;
  padding: 5px;
  border-width: 15px;
}
