ul {
  background-image: url("media/worldmap.png"); 
  padding: 10px 10px 10px 40px;
  list-style-type: square;
}
ul li {
  margin-bottom: 5px;
  padding-right: 10px;
}
ul li:hover {
  background: yellowgreen;
}
